[include]
	path = ~/.config/delta/themes.gitconfig

[gpg]
	format = ssh

[alias]
  purge = !git branch --v | grep '\\[gone\\]' | awk '{print $1}' | xargs git branch -D

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	side-by-side = false

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[difftool "delta"]
	cmd = delta "$LOCAL" "$REMOTE"
